.body {
  margin: 0;
  padding: 0;
}
.flex-container {
  font-family: "Inter", sans-serif;
  font-weight: medium;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 1rem;

  .card-header {
    font-size: 32px;
    margin-bottom: 16px;
    text-align: center;
    font-weight: medium;
  }

  .flex-item {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .card {
    background-color: #fff;
    padding: 1.5rem;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    border: 1px solid #ccc;
  }

  .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: left;
  }
  .checkbox {
    margin: 0 auto 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .check {
      transform: scale(1.5);
    }
  }
  label {
    font-size: 1rem;
    margin-bottom: 4px;
  }

  .input {
    padding: 0.5rem;
    margin-top: 0.25rem;
    border: 1px solid #e5e5e5;
    border-radius: 0.5rem;
  }


  .buttons {
    display: flex;
    gap: 10px;
  }

  .submit-btn, .cancel-btn {
    width: 100%;
    padding: 0.75rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
  }
  .submit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  .cancel-btn{
    background-color: white;
    color: #5d789a;
    border: 1px solid #5d789a;
  }
}

.error-message {
  display: none;
  color: red;
  animation: fadeInOut 2s forwards; 
}

.show {
  display: block; 
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  } 
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  } 
}
